.content-side-delivery{
    background-image: url(../images/delivery/backgroundMap2.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;

}

.select-box{
    align-self: center;
    margin: auto;
    width: 20vw;
    background-color: var(--transparent-color);
    min-width: 200px;
    aspect-ratio: 1;
    border: 8px solid var(--text-color2);
    border-radius: 20px;
    text-align: center;
}

.imgbox img{    
    width: 70%;
    height: 70%;
    border-radius: 20px;
    object-fit: cover;
    margin: 10px;
    cursor: pointer;
}

.invetoryOpen{
    align-self: center;
    margin: auto;
    width: 70%;
    min-width: 332px;
    height: 90%;
    background-color: var(--transparent-color);
    border-radius: 20px;
    font-size: 25px;
    border: 8px solid var(--text-color2);
    border-radius: 20px;
    text-align: center;
    position: relative;
}
.closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.invetoryOpen h2{
    margin: 20px 0px
}

.inventory-select{
    width: 100%;
    height: 84%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y: scroll;
}

.invetory-item {
    width : 20%;
    min-width: 180px; 
    min-height: 200px;
    border: 2px var(--text-color2) solid;
    background-color: var(--first-color);
    position: relative;
    border-radius: 20px;
}

.item-header{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.item-body{
    width: 100%;
    height: 65%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-img img{
    width: 70%;
    border-radius: 20px;
    object-fit: cover;
}

.item-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.btn-select{
    width: 70%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.562);
    background-color: var(--text-color2);
}

.inventory-select::-webkit-scrollbar-track
{
	border-radius: 8px;
	background-color: #6c6c6c;
}

.inventory-select::-webkit-scrollbar
{
	width: 8px;
	background-color: #f5f5f500;
}

.inventory-select::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background-color: #000000;
}