.content-side-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "header header header"
    "selection selection selection"
    "selection selection selection"
    "selection selection selection"
    "selection selection selection";
    border: 2px solid red;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }


.selection{
    grid-area: selection;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "box1 box2 box3";
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.box{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.box1{
    grid-area: box1;
}

.box2{
    grid-area: box2;
}

.box3{
    grid-area: box3;
}

