.App {
  width: 100%;
  align-items: stretch;
}

:root{
  --first-color: #24252b;
  --second-color:#131524;
  --third-color: #33343c;
  --text-color: #e7e9ec;
  --text-color2:#eba52c;

  --generalFont: 'Montserrat', sans-serif;
  --titleFont: 'AxeHandel';      

}

@font-face {
  font-family: "AxeHandel";
  src: url("./fonts/AxeHandel.ttf");
}

body {
  font-family: var(--generalFont);
  background-color: var(--second-color);
}

h3{
  font-family: var(--titleFont);
  color: var(--text-color2);
  font-size: 30px;
}

p{
  color: var(--text-color);
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar{
  background-color: var(--first-color);
  padding: 0.5rem 0;
  width: 102vw;
  height: 80px;
  z-index: 2;
  position: fixed;
  top: 0;
}

.navbar-pancake{
  margin-top: 10px;
  margin-right: 20px;
  background-color: var(--third-color);
  font-family: var(--titleFont);
  color: var(--text-color)!important;
  width: 115px;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-pancake img{
  width: 25px;
  margin-left: 5px;
  margin-right: 10px;

}

.navbar-claim{
  margin-top: 10px;
  margin-right: 20px;
  background-color: var(--text-color2);
  font-family: var(--titleFont);
  color: var(--second-color)!important;
  text-align: center;
  height: 40px;
  width: 180px;
  border-radius: 10px;
}

.navbar-account{
  display: inline;
  font-family: var(--titleFont);
  color: var(--text-color);
  font-size: 30px;
  margin-right: 80px;
  line-height: 0.6;
  margin-top: 15px;
  margin-left: 15px;
}

.navbar-bot-account{
  font-family: var(--generalFont);
  font-size: 15px;
}


.navbar-logo{
  width: 60px;
}

.btn-outline-info{
  color: var(--text-color2);
  border-color: var(--text-color2);

}

.btn-outline-info:hover{
  color: var(--text-color);
  background-color: var(--text-color2);
  border-color: var(--text-color2);
}

.btn-outline-info.focus, .btn-outline-info:focus{
  box-shadow: 0 0 0 0.2rem rgba(231, 247, 2, 0.835);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  margin-top: 80px;
  min-width: 250px;
  max-width: 250px;
  background: var(--first-color);
  color: var(--text-color);
  margin-left: -250px;
  transition: all 0.5s;
  height: 100vh;
  padding-top: 10px;
}

#sidebar{
  z-index: 1;
}

.nav{
  display: block;
}

.logo-sidebar{
  width: 60px;
}

.sidebar-second-header{
  background-color: var(--second-color);
  border-radius: 20px;
  margin: 13px 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sidebar-third-header{
  background-color: var(--second-color);
  border-radius: 20px;
  margin: 13px 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: left;
}


.redbox{
  width: 50px;
  margin-left: 20px;
  transform: rotate(-20deg);
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}

.NavItem{
  padding-left: 20px;
  height: 45px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px
}

.active a:focus, .active a:hover, .active a, .active{
  color: white;
  background: var(--second-color) !important;
}

.sidebar-icon{
  width: 30px;
  margin-right: 20px;
}


.sidebar-header {
  background: var(--first-color);
  color: var(--text-color);
  height: 65px;
  margin-top: 10px;
  margin-left: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show, 
.collapsing {
  background: var(--first-color);
}



.nav-item:hover {
  background: #313b4c;
  color: #fff;
  transition: .2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.sidebar-version{
  margin-top: 15px;
  text-align: center;
}

.line{
  width: 55%;
  height: 5px;
  background-color: var(--text-color2);
  margin-top: 10px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  border:#e7e9ec 3px solid;
  border-radius: 10px;
  margin-top: 100px;
  height: 80vh;
  color: #fff;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  grid-area: header;  
  border: line 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outlet{
  width: 95%;
  height: 100%;
}

.notification{
  border: solid 3px white;
  width: 80%;
  margin-right:10px; 
  padding: 20px;
  height: 100px;
}

.market-link{
  border: solid 3px white;
  width: 20%;
  padding: 20px;
  height: 100px;
}

.container-fluid{
  padding: 0;
}

@media (min-width: 1200px) {
  .content {
    margin-left: 50px;
    width: calc(100% - 50px);
  }
 }


@media (max-width: 992px) { 
  .content{
    margin-left: 40px;
    width: 95%;
  }
 }

@media only screen and (max-width: 575.98px) {
  body {
    overflow:  hidden;
  }
  
  .content.is-open {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }
  
  .sidebar.is-open > .sidebar-header button {
    display: block;
  }
  

  
}


