.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

:root{
  --first-color: #24252b;
  --second-color:#131524;
  --text-color: #e7e9ec;
  --text-color2:#eba52c;

  --generalFont: 'Montserrat', sans-serif;
  --titleFont: 'AxeHandel';      

}

@font-face {
  font-family: "AxeHandel";
  src: url("./fonts/AxeHandel.ttf");
}

body {
  font-family: var(--generalFont);
  background-color: var(--second-color);
}

h3{
  font-family: var(--titleFont);
  color: var(--text-color2);
  font-size: 30px;
}

p{
  color: var(--text-color);
  font-size: 13px;
  font-weight: 600;
  margin: 0;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar{
  background-color: var(--first-color);
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: var(--first-color);
  color: var(--text-color);
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar-second-header{
  background-color: var(--second-color);
  border-radius: 20px;
  margin: 13px 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sidebar.is-open {
  margin-left: 0;
  transition: .5s;
}


.sidebar-header {
  background: var(--first-color);
  color: var(--text-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.collapse.show, 
.collapsing {
  background: var(--first-color);
}

.nav-item {
  /*color: #ced4da;*/
  color: #adb5bd;
  font-weight: 300;
}

.nav-item.open {
  color: #e9ecef;
  background: var(--first-color);
}

.nav-item.active {
  color: #e9ecef;
  background: var(--second-color) !important;
}

.nav-item:hover {
  background: #313b4c;
  color: #fff;
  transition: .2s;
}

.nav-item .svg-inline--fa {
  color: inherit;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%
}

.sidebar-header > button {
  position: relative;
  float: right;
  margin: .5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  margin-left: 0;
  height: 100vh;
}

.container-fluid{
  padding: 0;
}

@media only screen and (max-width: 575.98px) {
  body {
    overflow:  hidden;
  }
  
  .content.is-open {
    /*margin-left: 100%;*/
    display: none;
    transition: all 0.5s;
  }
  
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }
  
  .sidebar.is-open > .sidebar-header button {
    display: block;
  }
  
  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
  
}


